<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs410tutorgroup.findatutor" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cs410tutorgroup.tutorme.MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs410tutorgroup.tutorme.OnlineResources"
            android:label="@string/title_activity_online_resources" >
        </activity>
        <activity
            android:name="com.cs410tutorgroup.tutorme.CollegeTutorSearch"
            android:label="@string/title_activity_standard_tutor_search" >
        </activity>
        <activity
            android:name="com.cs410tutorgroup.tutorme.testDatabase"
            android:label="@string/title_activity_test_database" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDbcrROWyAIVoYqXhaFW7lxi_KYxmoqWYY" />

        <activity
            android:name="com.cs410tutorgroup.tutorme.TutorRegistration"
            android:label="@string/title_activity_tutor_registration" >
        </activity>
        <activity
            android:name="com.cs410tutorgroup.tutorme.TutorReview"
            android:label="@string/title_activity_tutor_review" >
        </activity>
        <activity
            android:name="com.cs410tutorgroup.tutorme.TutorProfile"
            android:label="@string/title_activity_tutor_profile" >
        </activity>
        <activity
            android:name="com.cs410tutorgroup.tutorme.CollegeSearchNarrower"
            android:label="@string/title_activity_search_narrower" >
        </activity>
        <activity
            android:name="com.cs410tutorgroup.tutorme.ReviewList"
            android:label="@string/title_activity_review_list" >
        </activity>
    </application>

</manifest>
