/*

	Global Color Codes
	
	Base Maroon		#7B1B1F
		Background
		Header Text
		
	Lighter Maroon	#CD392F
		Links
		
	Orange			#E06604
		Links:hover
		
	Dark Grey		#545454
		Footer Copyright
		
	Light Grey		#C4C7CE
		Footer Emailer
		Navigation
		
	Lightest Grey	#E7E7E7
		Footer Text
		
	White			#FFF;
		Background of body
		

*/


@charset "UTF-8";

/* Layout Medium Screens */

/*********************
		Header
*********************/

header {
	height: 150px;
	background: url(../images/banner_medium.jpg) no-repeat right 90% 0px;
}

header a.logo {
	width: 115px;
	height: 65px;
	top: 45px;
	left: 25px;
	background-image: url(../images/logo_medium.png);
}

/*********************
		Promo Container
*********************/

.promo_container {
	padding: 0px 20px 15px 20px;
	
}

.promo_container .promo {
	background-position: 0px 0px;
}

.promo_container .promo .content {
	padding: 70px 30px 0 0;
}


.photo_content_left .content {
	width: 60%;
}


/*********************
		Nav
*********************/

nav {
	top: 150px;
}

nav a {
	margin: 12px 0 10px 20px;
}