/*

	Global Color Codes
	
	Base Maroon		#7B1B1F
		Background
		Header Text
		
	Lighter Maroon	#CD392F
		Links
		
	Orange			#E06604
		Links:hover
		
	Dark Grey		#545454
		Footer Copyright
		
	Light Grey		#C4C7CE
		Footer Emailer
		Navigation
		
	Lightest Grey	#E7E7E7
		Footer Text
		
	White			#FFF;
		Background of body
		

*/

@charset "UTF-8";


/* Global Layout Rules */

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

header a.logo {
	display: block;
	position: absolute;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

@media screen and (max-width:990px) {
	footer {
		padding-left: 20px;
	}
}

/* Layout Large Screens (default for older browsers) */

/*********************
		Header
*********************/

header {
	height: 225px;
	background: url(../images/banner_large.jpg) no-repeat right 0px;
}

header a.logo {
	width: 150px;
	height: 85px;
	top: 35px;
	left: 20px;
	background-image: url(../images/logo_large.png);
}

/*********************
		Article
*********************/

article {
	padding: 60px 20px 10px 20px;
}

/*********************
		Promos
*********************/

.promo_container {
	padding: 0px 0px 15px 20px;
	margin-bottom: 80px;
}

.promo_container .promo {
	width: 33%;
	float: left;
	background-position: 0px 3px;
}

.promo_container .promo .content {
	padding: 0px 30px 0px 70px;
}


/*********************
		Footer
*********************/

footer {
	color: #E7E7E7;
	margin: 0px 0 0 0;
	position: fixed;
	bottom: 0px;
	left: auto;
	width: 980px;
	height: 80px;
	padding: 0;
}

footer .emailer {
	height: 50px;
	background: #c4c7ce;
	padding: 0 10px;
}

footer .emailer h4 {
	font-weight: bold;
	font-size: 1.2em;
	float: left;
	margin: 15px 0; 
}

footer .emailer form {
	float: right;
	height: 30px;
	margin: 10px 0;
}

footer .copyright {
	height: 30px;
	background: #545454;
	padding: 8px 0 0 10px;
}

footer .copyright a {
	float: right;
	padding: 0 10px;
	border-left: 1px solid #999; 
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}



/*********************
		Navagation
*********************/

nav {
	width: 100%;
	display: block;
	position: absolute;
	top: 225px;
	background-color: #c4c7ce;
}

nav a {
	color: #7B1B1F;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 0.9em;
	margin: 12px 0 10px 20px;
}

nav a:hover {
	color: #CD392F;
}

/*********************
		Photo content left
*********************/

.photo_content_left {
	margin: 0 0 80px 0;
	padding-bottom: 20px;
}

.photo_content_left #photo {
	float: left;
	height: auto;
	width: 32%;
	margin: 0 10px;
	border: 3px solid #c4c7ce;
}

.photo_content_left .content {
	float: left;
	width: 62%;
	margin: 0px 10px 0px 0px ;
}

.photo_content_left .content h3 {
	text-align: center;
	font-size: 1.3em;
}

/*********************
		Buttons
*********************/

.button {
	width: auto;
	height: 30px;
	background: #CD392F;
	border: 1px solid #1e728c;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	
	/* IE7 inline-block fix */
	zoom: 1;
	*display: inline;
	
	margin: 0 0 2px 0;
	outline: none;
	/*padding: 10px 20px 11px;*/
	text-align: center;
	text-decoration: none;
	
	/* CSS3 Box Shadows */
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	        
	/* CSS3 Transition */        
	-webkit-transition: background-color 0.15s ease-in-out;
	   -moz-transition: background-color 0.15s ease-in-out;
	     -o-transition: background-color 0.15s ease-in-out;
	        transition: background-color 0.15s ease-in-out;
}

.button:hover {
	color: #fff;
	background-color: #E06604;
}

.button:active {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	color: #fff;
}
